:root {
  --bg-color: #000000;
  --accent-color: dodgerblue;
  --snd-color: white;
  --trd-color: #525252;
  --current-color: #a52a2a;
  --current-snd-color: #5ad5d5;
  --sorted-color: hsla(210, 100%, 56%, 0.5);
  --font-color: dodgerblue;
}
/* #FFFFFF,#000000,#A5FFC9,#A5C9FF*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "consolas", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

#barContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 110em;
  height: 40em;
}

.bar {
  width: 3px;
  background-color: var(--snd-color);
}

/* ---- ---- ---- ----  */

#menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-btn {
  width: 10em;
  margin-left: 1em;
}

button {
  font-family: inherit;
  font-weight: bold;
}

*:disabled {
  opacity: 0.4;
  background-color: var(--bg-color);
}

.speed-input-container {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-direction: column;
}

.radio-btn {
  display: none;
}

.radio-label {
  opacity: 1;
  margin-right: 1em;
  border-top-color: rgb(118, 118, 118);
  border-left-color: rgb(118, 118, 118);
  border-bottom-color: rgb(59, 59, 59);
  border-right-color: rgb(59, 59, 59);
  border-width: 2px;
  border-style: solid;
}

.radio-btn:checked + .radio-label {
  opacity: 1;
  font-weight: bold;
  color: var(--bg-color);
  background-color: var(--accent-color);
  border-color: var(--trd-color);
}

.btn {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-size: 1.5em;
}

#sortButton {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-top-color: rgb(220, 220, 220);
  border-left-color: rgb(220, 220, 220);
  border-bottom-color: rgb(59, 59, 59);
  border-right-color: rgb(59, 59, 59);
  border-width: 2px;
  border-style: solid;
}
#sortButton:active {
  border-bottom-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
  border-top-color: rgb(59, 59, 59);
  border-left-color: rgb(59, 59, 59);
}

footer {
  width: 100%;
  display: flex;
  gap: 40%;
  justify-content: flex-end;
  margin-top: 0.5em;
}

/* ---- ---- ---- ----  */

#displayRange {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: var(--accent-color);
}

#range {
  accent-color: var(--accent-color);
}
